.logo {
    margin: 20px;
    margin-top: 35px;
    max-width: 400px;
}

.intro-text {
    max-height: 320px;
    max-width: 920px;
    margin-top: 80px;
    font-size: 1.3em;
}

.features-title {
    margin-top: -80px;
}

# Accordion
.accordion {
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  overflow: auto;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: none;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: .80em;
  overflow: hidden;
}

.list-body {
    margin: 40px;
    z-index: 1000;
    position: relative;
    font-size: 1.2em;
    overflow: auto;
    max-height: 300px;
}

.footer-text {
    position: fixed;
    color: white;
    z-index: 100;
    bottom: 0 !important;
    right: 0 !important;
    margin: 5px;
}

a, a:visited {
    color: inherit;
}

a:hover {
    color: grey;
}

